.booking {
  margin: 0;
  padding: 0;

}

.booking__title {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.booking__text {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.booking__img {
  margin: 0;
  padding: 0;

}

.booking__link {
  margin: 0;
  padding: 0;

}

