.form {
  margin: 0;
  padding: 0;

}

.form__fieldset {
  margin: 0;
  padding: 0;

}

.form__legend {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  color: #000000;


}

.form__name {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  list-style: none;
  text-transform: uppercase;
  color: #333333;


}

.form__contact {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  list-style: none;
  text-transform: uppercase;
  color: #333333;

}

.form__impression {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__sights {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  list-style: none;
  color: #000000;

}

.form__textarea {
  margin: 0;
  padding: 0;
  list-style: none;

}




