.page-header {
  margin: 0;
  padding: 0;
}

.page-header__logo-buttom-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-header__logo {
  margin: 0;
  padding: 0;

}

.page-header__logo-image {
  margin: 0;
  padding: 0;
}
