.photo-page-main {
  margin: 0;
  padding: 0;

}

.photo-page-main__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.photo-page-main__image {
  margin: 0;
  padding: 0;
}

.photo-main-page__image-back {
  margin: 0;
  padding: 0;
}

.photo-page-main__title {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.photo-page-main__description {
  margin: 0;
  padding: 0;
  font-family: PTSans;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

}

.photo-page-main__list {
  margin: 0;
  padding: 0;

}

.photo-page-main__video {
  margin: 0;
  padding: 0;


}



