.photo-list {
  margin: 0;
  padding: 0;

}

.photo-list__item {
  margin: 0;
  padding: 0;
  list-style: none;

}

.photo-list__image {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
}

.photo-list__title {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: $black-font;

}

.photo-list__author {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: $shade-of-black-font;

}

.photo-list__likes {
  margin: 0;
  padding: 0;

}

.photo-list__like-count {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: $shade-of-black-font;

}
