.social {
  margin: 0;
  padding: 0;

}

.social__item {
  text-align: center;
  list-style: none;

}

.social__link {
  text-align: center;
  list-style: none;

}

.social__academy {
  margin: 0;
  padding: 0;
  text-align: center;
}
