/* colors */
$bgc-blue: #81b3d2;
$bcg-grey: #eeeeee;
$bcg-shade-of-gray; rgb(238,238,238);
$white-font: #ffffff;
$black-font: #000000;
$shade-of-black-font: #333333;

/* screen size */
@tablet-width: 768px;
@desktop-width: 1200px;

/* images */
$bg-img-mob: "../img/bg-back-mobile@1x.jpg";

